backup__P9gGYMuwwTISAP2F__git_commit.json
[{"createdAt":"2025-02-20T22:11:31.427Z","updatedAt":"2025-02-20T22:52:58.000Z","id":"P9gGYMuwwTISAP2F","name":"git_commit","active":false,"nodes":[{"parameters":{},"id":"3ed5c2d7-dc45-41af-8544-e6b05eeb08d7","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[360,400],"typeVersion":1},{"parameters":{"command":"=n8n export:workflow --id={{ $json.id }} --output=\"D:/DaiHung/__n8n/backup/backup__{{ $json.id }}__{{ $json.name_projet }}.json\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1280,500],"id":"59730be6-c4e0-461c-bf6d-613317e5a52c","name":"export node"},{"parameters":{"assignments":{"assignments":[{"id":"44825e54-f6b7-4300-8402-a62940dee447","name":"commit","value":"init1","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,400],"id":"c24caf17-1ee6-43a0-917a-41766a556dc0","name":"commit"},{"parameters":{"assignments":{"assignments":[{"id":"b4215fc0-6051-4be0-a909-8f01694221c4","name":"id","value":"P9gGYMuwwTISAP2F","type":"string"},{"id":"f16a948a-954a-4a88-b036-b92b4014b5bc","name":"name_projet","value":"git_commit","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,400],"id":"26b2e4d4-7711-443f-9fd0-90bc964faa11","name":"config1"},{"parameters":{"command":"=git -C \"D:\\DaiHung\\__n8n\\backup\" status"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1000,1000],"id":"495a6114-42ee-46ad-811f-27d47c669559","name":"Execute Command1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"256f4e4c-f95c-4b9b-8ff0-70a20efdf162","leftValue":"={{ $json.stdout }}","rightValue":"nothing to commit","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1220,1000],"id":"919c5959-7702-4940-8451-66b9251d71a8","name":"If"},{"parameters":{"command":"=git -C D:\\DaiHung\\__n8n\\backup add ."},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[840,1000],"id":"dd19f50d-417e-4c37-afcf-3e049fd7a8e8","name":"add"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"id\": \"id flow\",\n  \"name_projet\": \"name of flow\",\n  \"commit\": \"commit description\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[340,620],"id":"4bf06ac2-b431-4c27-85c8-66ce13ae8ffa","name":"When Executed by Another Workflow"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{"clashHandling":{"values":{"resolveClash":"preferLast","mergeMode":"shallowMerge","overrideEmpty":true}}}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1080,500],"id":"48821084-6f01-45cf-879a-22c087ba792c","name":"Merge"},{"parameters":{"workflowId":{"__rl":true,"value":"MtBGZchPbOdPr4nR","mode":"list","cachedResultName":"test_subflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[0,0],"id":"fa855043-28e0-41f2-893e-f9421d3a85e1","name":"Execute Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"30d20cc3-cd50-4b30-a9ae-5650351ccd95","name":"result","value":false,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,820],"id":"5e80c18f-e989-4008-a668-13b6cc957a77","name":"result:fail"},{"parameters":{"errorMessage":"cannot export flow"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1700,520],"id":"7f1057d8-1f2e-4f6e-9344-c0c81d92b194","name":"Stop and Error"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0d434963-31fa-499f-b89e-9a38a4756df0","leftValue":"={{ $json.stdout }}","rightValue":"Successfully exported","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1440,500],"id":"4229f157-f31d-4ed8-9358-126df4825383","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1852976b-8705-4592-b601-cdff8789f3c6","leftValue":"={{ $json.exitCode }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1940,1080],"id":"73b64880-bda3-4f71-9646-9dd90c9e77f8","name":"If2"},{"parameters":{"assignments":{"assignments":[{"id":"51a8748f-5268-4fa3-8e16-7e1809530a95","name":"result","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2200,1000],"id":"8ace525d-96da-410f-8549-2f537b409a4e","name":"Edit Fields"},{"parameters":{"errorMessage":"error when push to origin"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[2140,1220],"id":"621651de-721b-4715-a84c-3dec38a12c4f","name":"Stop and Error1"},{"parameters":{"command":"=git -C \"D:\\DaiHung\\__n8n\\backup\" commit -m \"{{ $('Merge').item.json.id }}-{{ $('Merge').item.json.name_projet }}-{{$today.format('yyyy-MM-dd')}}\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1480,1080],"id":"097f4258-af84-4144-b232-e1834f33fa39","name":"commit1"},{"parameters":{"command":"=git -C \"D:\\DaiHung\\__n8n\\backup\" push origin master"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1720,1080],"id":"58ce346f-b55d-4190-849b-6ffe7237c4b0","name":"push origin"}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"commit","type":"main","index":0}]]},"export node":{"main":[[{"node":"If1","type":"main","index":0}]]},"commit":{"main":[[{"node":"config1","type":"main","index":0}]]},"config1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Execute Command1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"result:fail","type":"main","index":0}],[{"node":"commit1","type":"main","index":0}]]},"add":{"main":[[{"node":"Execute Command1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"export node","type":"main","index":0}]]},"If1":{"main":[[{"node":"add","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"If2":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Stop and Error1","type":"main","index":0}]]},"commit1":{"main":[[{"node":"push origin","type":"main","index":0}]]},"push origin":{"main":[[{"node":"If2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"46596d3d-a75f-47c8-9cda-9c1a298d524b","triggerCount":0,"tags":[]}]