backup__P9gGYMuwwTISAP2F__git_commit.json
[{"createdAt":"2025-02-20T22:11:31.427Z","updatedAt":"2025-02-20T22:27:03.000Z","id":"P9gGYMuwwTISAP2F","name":"git_commit","active":false,"nodes":[{"parameters":{},"id":"3ed5c2d7-dc45-41af-8544-e6b05eeb08d7","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[440,580],"typeVersion":1},{"parameters":{"command":"=n8n export:workflow --id={{ $json.id }} --output=\"D:/DaiHung/__n8n/backup/backup__{{ $json.id }}__{{ $json.name_projet }}.json\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1040,660],"id":"59730be6-c4e0-461c-bf6d-613317e5a52c","name":"export node"},{"parameters":{"assignments":{"assignments":[{"id":"44825e54-f6b7-4300-8402-a62940dee447","name":"commit","value":"init1","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[980,460],"id":"c24caf17-1ee6-43a0-917a-41766a556dc0","name":"commit"},{"parameters":{"assignments":{"assignments":[{"id":"b4215fc0-6051-4be0-a909-8f01694221c4","name":"id","value":"P9gGYMuwwTISAP2F","type":"string"},{"id":"f16a948a-954a-4a88-b036-b92b4014b5bc","name":"name_projet","value":"git_commit","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1140,460],"id":"26b2e4d4-7711-443f-9fd0-90bc964faa11","name":"config1"},{"parameters":{"command":"=git -C \"D:\\DaiHung\\__n8n\\backup\" status"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1000,1000],"id":"495a6114-42ee-46ad-811f-27d47c669559","name":"Execute Command1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"256f4e4c-f95c-4b9b-8ff0-70a20efdf162","leftValue":"={{ $json.stdout }}","rightValue":"nothing to commit","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1220,1000],"id":"919c5959-7702-4940-8451-66b9251d71a8","name":"If"},{"parameters":{"command":"=git -C \"D:\\DaiHung\\__n8n\\backup\" push origin master"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1940,1020],"id":"58ce346f-b55d-4190-849b-6ffe7237c4b0","name":"Execute Command2"},{"parameters":{"command":"=git -C D:\\DaiHung\\__n8n\\backup add ."},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[840,1000],"id":"dd19f50d-417e-4c37-afcf-3e049fd7a8e8","name":"add"},{"parameters":{"command":"=git -C \"D:\\DaiHung\\__n8n\\backup\" commit -m \"{{$today.format('yyyy-MM-dd')}}\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1580,1040],"id":"097f4258-af84-4144-b232-e1834f33fa39","name":"Execute Command"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"id\": \"id flow\",\n  \"name_projet\": \"name of flow\",\n  \"commit\": \"commit description\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[440,860],"id":"4bf06ac2-b431-4c27-85c8-66ce13ae8ffa","name":"When Executed by Another Workflow"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2140,740],"id":"48821084-6f01-45cf-879a-22c087ba792c","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0d434963-31fa-499f-b89e-9a38a4756df0","leftValue":"={{ $json.stdout }}","rightValue":"Successfully exported","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1260,660],"id":"4229f157-f31d-4ed8-9358-126df4825383","name":"If1"},{"parameters":{"errorMessage":"error when export flow git_commit"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1520,820],"id":"61fce751-272b-4037-acbf-dba9bec35cc7","name":"Stop and Error"}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"commit","type":"main","index":0}]]},"export node":{"main":[[{"node":"If1","type":"main","index":0}]]},"commit":{"main":[[{"node":"config1","type":"main","index":0}]]},"config1":{"main":[[{"node":"export node","type":"main","index":0},{"node":"Merge","type":"main","index":2}]]},"Execute Command1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Execute Command","type":"main","index":0}]]},"add":{"main":[[{"node":"Execute Command1","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Execute Command2","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"export node","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[]]},"If1":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e9f9e003-a6f1-4e41-8be4-f99ab6675ef9","triggerCount":0,"tags":[]}]