backup__7LI4X57KMFyG3Lsv__push-and-update-files-in-github.json
[{"createdAt":"2025-02-20T21:05:35.947Z","updatedAt":"2025-02-20T23:07:20.000Z","id":"7LI4X57KMFyG3Lsv","name":"Push and update files in GitHub","active":false,"nodes":[{"parameters":{"content":"## Push a single file via GitHub node directly to the remote GitHub repo","height":244.559082047148,"width":865.0290253216738},"id":"f5cb92f3-c3df-4640-90c1-870c9f27d085","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[990,2],"typeVersion":1},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/phamhung075","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/phamhung075/n8n-test","mode":"url"},"filePath":"README.md","fileContent":"={{ $json.data }}\n## Updated at:\n{{ $now.toISO() }}","commitMessage":"updated from n8n via GitHub node"},"id":"54f7a07c-8d85-4c69-81c9-a95449958eb4","name":"GitHub push edited file","type":"n8n-nodes-base.github","position":[1360,80],"typeVersion":1,"credentials":{"githubApi":{"id":"alVN1uj2U8COltCj","name":"GitHub account"}}},{"parameters":{"command":"=echo '' >> {{ $('config').item.json.localrepo }}/README.md\necho '## Updated at:' >> {{ $('config').item.json.localrepo }}/README.md\necho '{{ $now.toISO() }}' >> {{ $('config').item.json.localrepo }}/README.md\necho 'Check new file' >> {{ $('config').item.json.localrepo }}/README.md\necho '' >> {{ $('config').item.json.localrepo }}/README.md\n\necho '# This is a new file' >> {{ $('config').item.json.localrepo }}/new_{{ $now.toFormat('yyyyddMM-hhmmss') }}.md"},"id":"2b625156-17a5-4245-9ee8-604a631d65fe","name":"Update README and add new file","type":"n8n-nodes-base.executeCommand","position":[1200,400],"typeVersion":1},{"parameters":{"operation":"add","repositoryPath":"={{ $('config').item.json.localrepo }}","pathsToAdd":"."},"id":"99bf3b00-7e51-49b6-a602-8769012d9270","name":"Add files","type":"n8n-nodes-base.git","position":[1360,400],"typeVersion":1},{"parameters":{"operation":"commit","repositoryPath":"={{ $('config').item.json.localrepo }}","message":"updated from n8n via Git node","options":{}},"id":"f0e220c5-d717-471f-8b0c-cca3a06ff7f6","name":"Commit","type":"n8n-nodes-base.git","position":[1520,400],"typeVersion":1},{"parameters":{"authentication":"gitPassword","operation":"push","repositoryPath":"={{ $('config').item.json.localrepo }}","options":{"targetRepository":"https://github.com/teds-tech-talks/git_push_article.git"}},"id":"7ef8674e-3c1f-4903-aa3e-28af69d80264","name":"Push","type":"n8n-nodes-base.git","position":[1680,400],"typeVersion":1,"credentials":{"gitPassword":{"id":"UZwYm9jaZlbIkm8q","name":"Git account"}}},{"parameters":{"values":{"string":[{"name":"localrepo","value":"/path/to/git/repo"}]},"options":{}},"id":"f27bb600-4352-47db-aeeb-7688fa6c72c1","name":"config","type":"n8n-nodes-base.set","position":[680,240],"typeVersion":2},{"parameters":{"operation":"pull","repositoryPath":"={{ $('config').item.json.localrepo }}"},"id":"512f0333-358d-43e6-a03f-b13792969d04","name":"Pull","type":"n8n-nodes-base.git","position":[1040,400],"typeVersion":1},{"parameters":{"content":"## Push all changes via Git node","height":251.5433184970501,"width":870.5619913953059},"id":"2830b321-5b58-4080-9a53-ddc703a80ec9","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[987.4395480225996,320],"typeVersion":1},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"https://github.com/phamhung075","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/phamhung075/n8n-test","mode":"url"},"filePath":"README.md","additionalParameters":{}},"id":"da8b52dd-4245-4adb-aff8-63f19a002d16","name":"GitHub get file","type":"n8n-nodes-base.github","position":[1040,80],"typeVersion":1,"credentials":{"githubApi":{"id":"3U66JuiggyfRjcBU","name":"GitHub account"}}},{"parameters":{"jsCode":"var text = Buffer.from($input.first().binary.data.data, 'base64').toString('utf8');\nreturn {\"data\": text};"},"id":"e4eb2f71-5b66-4ab7-bb1a-b48ef25728e1","name":"Decode file","type":"n8n-nodes-base.code","position":[1200,80],"typeVersion":2},{"parameters":{"content":"## Please update the path to the local repository and connect this node to the upper or lower parts of the workflow","height":383.3156992772523,"width":373.9894195663518},"id":"ec27d375-b994-415c-be53-5715df83585c","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[560.9808509052974,40],"typeVersion":1},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"945196c9-2252-4c52-866c-cbde7cca6a58","name":"When clicking ‘Test workflow’"},{"parameters":{"workflowId":{"__rl":true,"value":"P9gGYMuwwTISAP2F","mode":"list","cachedResultName":"git_commit"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{$workflow.id}}","name_projet":"={{$workflow.name}}","commit":"test-work"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"name_projet","displayName":"name_projet","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"commit","displayName":"commit","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[140,380],"id":"b448ca12-7873-416e-b733-27e0d3af8290","name":"Execute Workflow"}],"connections":{"Pull":{"main":[[{"node":"Update README and add new file","type":"main","index":0}]]},"Commit":{"main":[[{"node":"Push","type":"main","index":0}]]},"Add files":{"main":[[{"node":"Commit","type":"main","index":0}]]},"Decode file":{"main":[[{"node":"GitHub push edited file","type":"main","index":0}]]},"GitHub get file":{"main":[[{"node":"Decode file","type":"main","index":0}]]},"Update README and add new file":{"main":[[{"node":"Add files","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"1942","templateCredsSetupCompleted":true},"pinData":{},"versionId":"4281ce1a-3af5-4563-ad10-100995d66a7c","triggerCount":0,"tags":[]}]