backup__P9gGYMuwwTISAP2F__mock_commit.json
[{"createdAt":"2025-02-20T22:11:31.427Z","updatedAt":"2025-02-20T23:56:07.000Z","id":"P9gGYMuwwTISAP2F","name":"git_commit","active":false,"nodes":[{"parameters":{"command":"=n8n export:workflow --id={{ $json.id }} --output=\"D:/DaiHung/__n8n/backup/backup__{{ $json.id }}__{{ $json.name_projet }}.json\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1940,500],"id":"59730be6-c4e0-461c-bf6d-613317e5a52c","name":"export node"},{"parameters":{"command":"=git -C \"D:\\DaiHung\\__n8n\\backup\" status"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1660,1000],"id":"495a6114-42ee-46ad-811f-27d47c669559","name":"Execute Command1"},{"parameters":{"command":"=git -C D:\\DaiHung\\__n8n\\backup add ."},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1500,1000],"id":"dd19f50d-417e-4c37-afcf-3e049fd7a8e8","name":"add"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"id\": \"id flow\",\n  \"name_projet\": \"name of flow\",\n  \"commit\": \"commit description\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[160,640],"id":"4bf06ac2-b431-4c27-85c8-66ce13ae8ffa","name":"When Executed by Another Workflow","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"30d20cc3-cd50-4b30-a9ae-5650351ccd95","name":"result","value":false,"type":"boolean"},{"id":"1c4524dc-37df-4c90-88fa-46fda2f10373","name":"message","value":"nothing change","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2400,760],"id":"5e80c18f-e989-4008-a668-13b6cc957a77","name":"result:fail"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0d434963-31fa-499f-b89e-9a38a4756df0","leftValue":"={{ $json.stdout }}","rightValue":"Successfully exported","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2100,500],"id":"4229f157-f31d-4ed8-9358-126df4825383","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1852976b-8705-4592-b601-cdff8789f3c6","leftValue":"={{ $json.exitCode }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2820,1080],"id":"73b64880-bda3-4f71-9646-9dd90c9e77f8","name":"If2"},{"parameters":{"assignments":{"assignments":[{"id":"51a8748f-5268-4fa3-8e16-7e1809530a95","name":"result","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3080,1000],"id":"8ace525d-96da-410f-8549-2f537b409a4e","name":"Edit Fields"},{"parameters":{"errorMessage":"error when push to origin"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[3020,1220],"id":"621651de-721b-4715-a84c-3dec38a12c4f","name":"Stop and Error1"},{"parameters":{"command":"=git -C \"D:\\DaiHung\\__n8n\\backup\" commit -m \"{{ $('merge input').item.json.commit }}-{{ $('merge input').item.json.id }}-{{ $('merge input').item.json.name_projet }}-{{$today.format('yyyy-MM-dd')}}\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2360,1080],"id":"097f4258-af84-4144-b232-e1834f33fa39","name":"commit1"},{"parameters":{"command":"=git -C \"D:\\DaiHung\\__n8n\\backup\" push origin master"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2600,1080],"id":"58ce346f-b55d-4190-849b-6ffe7237c4b0","name":"push origin"},{"parameters":{"assignments":{"assignments":[{"id":"3a78263f-3916-4635-ac62-4cb553dd17a7","name":"result","value":false,"type":"boolean"},{"id":"2a9ce77b-d01e-4c27-a157-03fdaa444615","name":"message","value":"export fail","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2580,520],"id":"6770e062-4262-4d3b-a945-55595fa6a286","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"5f0ecdf4-2b1b-48ee-84e1-5f6a6077638d","name":"result","value":false,"type":"boolean"},{"id":"ee27ca67-f19e-4f11-a083-22ae7448d75e","name":"message","value":"=no data input:  {{ $json.id }},{{ $json.name_projet }},{{ $json.commit }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1440,320],"id":"0498c598-4af7-4f60-9b53-136bbd799d94","name":"Edit Fields2"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[180,300],"id":"a22795ae-01f0-4904-b5c8-3fb89b79e7c2","name":"When clicking ‘Test workflow’"},{"parameters":{"mode":"raw","jsonOutput":"\n  {\n    \"id\": \"P9gGYMuwwTISAP2F\",\n    \"name_projet\": \"mock_commit\",\n    \"commit\": \"commit-description\"\n  }\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,360],"id":"1291ad2a-8037-4e8e-9fea-acf330b5cf54","name":"mock data"},{"parameters":{"assignments":{"assignments":[{"id":"bc689374-300b-47be-bd79-ec196f9c6678","name":"id","value":"={{ $input.item.json.id }}","type":"string"},{"id":"9cd2b5ec-a920-4927-aaaf-dfe665e68e2f","name":"name_projet","value":"={{ $input.item.json.name_projet }}","type":"string"},{"id":"aa4ea476-a972-4d7e-95cf-d0d230058a09","name":"commit","value":"={{ $input.item.json.commit }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,560],"id":"51734edf-3505-4c09-b9b2-4c4d5d2e5a85","name":"merge input"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8d93309-cfd7-4e37-82a3-06e7e38454de","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1260,600],"id":"250c8b59-9ec9-4918-84c5-29f2f368c077","name":"if id == null"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"256f4e4c-f95c-4b9b-8ff0-70a20efdf162","leftValue":"={{ $json.stdout }}","rightValue":"nothing to commit","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1880,1000],"id":"919c5959-7702-4940-8451-66b9251d71a8","name":"If nothing to commit"}],"connections":{"export node":{"main":[[{"node":"If1","type":"main","index":0}]]},"Execute Command1":{"main":[[{"node":"If nothing to commit","type":"main","index":0}]]},"add":{"main":[[{"node":"Execute Command1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"merge input","type":"main","index":0}]]},"If1":{"main":[[{"node":"add","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"If2":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Stop and Error1","type":"main","index":0}]]},"commit1":{"main":[[{"node":"push origin","type":"main","index":0}]]},"push origin":{"main":[[{"node":"If2","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"mock data","type":"main","index":0}]]},"mock data":{"main":[[{"node":"merge input","type":"main","index":0}]]},"merge input":{"main":[[{"node":"if id == null","type":"main","index":0}]]},"if id == null":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"export node","type":"main","index":0}]]},"If nothing to commit":{"main":[[{"node":"result:fail","type":"main","index":0}],[{"node":"commit1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a38e046c-e66e-4d73-b928-a36daac32ba6","triggerCount":0,"tags":[]}]